[Unit]
Description=My Python Program
After=network.target

[Service]
ExecStart=/home/gameTimerUser/dev/Game-Timer/startGameTimer.sh
WorkingDirectory=/home/gameTimerUser/dev/Game-Timer
StandardOutput=inherit
StandardError=inherit
Restart=no
User=gameTimerUser

[Install]
WantedBy=multi-user.target